#parse( "common.vm" )
<!DOCTYPE html>
#head("Plot of min/avg/max heartrate over time")
<body id="bd" class="clearfix">

<div id="container" style="min-width: 310px; height: 700px; max-width: 1200px; margin: 0 auto"></div>

<script type="text/javascript">
$(function () {
    $('#container').highcharts({
        chart: {
            type: 'bubble',
            zoomType: 'xy'
        },
        title: {
            text: 'Heartrate min/avg/max over time, size of bubble is number of calories'
        },
        xAxis: {
            title: {
                text: 'Date'
            },
            type: 'datetime',
            /*startOnTick: true,
            endOnTick: true,*/
            showLastLabel: true
        },
        yAxis: [{
            title: {
                text: 'Heartrate (bpm)'
            }
        }, {
            title: {
                text: 'Calories'
            },
            opposite: true
        }],
        legend: {
            layout: 'vertical',
            align: 'left',
            verticalAlign: 'top',
            x: 100,
            y: 20,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
            borderWidth: 1
        },
        plotOptions: {
            bubble: {
                marker: {
                    radius: 15,
                    states: {
                        hover: {
                            enabled: true,
                            lineColor: 'rgb(255, 255, 0)'
                        }
                    }
                },
                maxSize: '10%',
                minSize: 4
            }
        },
        tooltip: {
            //headerFormat: '<b>{series.name}</b><br>',
            formatter: function () {
                return "<b>" + this.series.name + "</b><br>" + 
                    new Date(this.x) + ": " + this.y;
            },
            crosshairs: [true,true]
            //pointFormat: '{point.x} cm, {point.y} kg'
        },
        series: [{
            name: 'Min HR',
            visible: false,
            color: Highcharts.getOptions().colors[0],
            data: [
            #foreach ( $move in $moves )
            #if ( $move.get("HrMin") && $move.get("HrPeak") && $move.getDouble("HrPeak") > 0)
                [$move.getStart(), $move.get("HrMin"), $move.get("Calories")],
            #end
            #end ]
        }, {
            name: 'Avg HR',
            color: Highcharts.getOptions().colors[1],
            data: [
            #foreach ( $move in $moves )
            #if ( $move.get("HrAvg") && $move.get("HrPeak") && $move.getDouble("HrPeak") > 0 )
                [$move.getStart(), $move.get("HrAvg"), $move.get("Calories")],
            #end
            #end ]
        }, {
            name: 'Max HR',
            visible: false,
            color: Highcharts.getOptions().colors[2],
            data: [
            #foreach ( $move in $moves )
            #if ( $move.get("HrPeak") && $move.getDouble("HrPeak") > 0 )
                [$move.getStart(), $move.get("HrPeak"), $move.get("Calories")],
            #end
            #end ]
        }, {
            type: 'line',
            visible: false,
            name: 'Min HR - Monthly average',
            color: Highcharts.getOptions().colors[0],
            data: [
            #foreach( $avgEntry in $writer.getMonthlyStats($moves, "HrMin").averages.entrySet() )
                [$avgEntry.key, $avgEntry.value],
            #end ]
        }, {
            type: 'line',
            name: 'Avg HR - Monthly average',
            color: Highcharts.getOptions().colors[1],
            data: [
            #foreach( $avgEntry in $writer.getMonthlyStats($moves, "HrAvg").averages.entrySet() )
                [$avgEntry.key, $avgEntry.value],
            #end ]
        }, {
            type: 'line',
            visible: false,
            name: 'Max HR - Monthly average',
            color: Highcharts.getOptions().colors[2],
            data: [
            #foreach( $avgEntry in $writer.getMonthlyStats($moves, "HrPeak").averages.entrySet() )
                [$avgEntry.key, $avgEntry.value],
            #end ]
        }, {
            type: 'line',
            yAxis: 1,
            name: 'Monthly calories',
            color: Highcharts.getOptions().colors[3],
            data: [
            #foreach( $avgEntry in $writer.getMonthlyStats($moves, "Calories").sums.entrySet() )
                [$avgEntry.key, $avgEntry.value],
            #end ]
        }]
    });
});

</script>

</body>
