# This workflow is used to refresh the stats and chart

# https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Refresh stats

# https://github.blog/changelog/2020-07-06-github-actions-manual-triggers-with-workflow_dispatch/
on:
    workflow_dispatch:

env:
  R_LIBS_USER: /usr/local/lib/R/site-library/
  BUGZILLA_API_KEY: ${{ secrets.BUGZILLA_API_KEY }}

jobs:
  refresh:
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v4

    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        distribution: 'adopt'
        java-version: '21'
        check-latest: true

    - name: Cache Gradle wrapper and dependencies
      uses: actions/cache@v4
      with:
        path: |
          ~/.gradle/caches
          ~/.gradle/wrapper
          ~/source
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
        restore-keys: |
          ${{ runner.os }}-gradle-
    - name: Verify Gradle wrapper
      uses: gradle/actions/wrapper-validation@v3

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Fetch statistics (to have these results quickly)
      run: ./gradlew refreshStats

    - uses: r-lib/actions/setup-r@v2
      with:
        r-version: '4.3.3'

    - name: Install required os-package
      run: sudo apt-get install -y libcairo2-dev r-cran-reshape2 r-cran-ggplot2 r-cran-gdtools r-cran-svglite

    - name: Install required dev-packages for installing R-packages
      run: sudo apt-get install -y libharfbuzz-dev libfribidi-dev libharfbuzz-dev libfribidi-dev libfreetype6-dev libpng-dev libtiff5-dev libjpeg-dev

    - name: Install packages for R
      run: sudo R --no-save -f install.R

    - name: Check installed files for R-packages
      run: ls -al /usr/local/lib/R/site-library/

    - name: Fetch statistics and refresh chart
      run: ./gradlew createChart

    # https://stackoverflow.com/questions/57921401/push-to-origin-from-github-action/58393457#58393457
    - name: Commit changes
      run: |
        git config --global user.name 'Dominik Stadler'
        git config --global user.email 'dominik.stadler@gmx.at'
        git add stats*
        git commit -m "Update stats via Github Action"
        git push
